.Login {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 50px;
  width: 500px;
  margin: 0 auto;
  border-radius: 100px;
}
.Login .login,
.Login .pwd,
.Login .sign-in {
  display: block;
  margin: 0 auto;
}
.Login .login,
.Login .pwd {
  padding: 8px 10px;
  border-radius: 10px;
  font-size: 16px;
  border: none;
  font-weight: 300;
}
.Login .sign-in {
  border-radius: 10px;
  padding: 8px 20px;
  font-size: 18px;
}
.Login .sign-in-link {
  text-decoration: none;
}
