.Assessment .container {
  padding: 50px;
}

.Assessment .accordion {
  width: 700px;

  margin: 0 auto;
  padding: 0;
}
.Assessment .accordion-item {
  text-align: center;
  background-color: transparent;
  border: none;
  margin-bottom: 10px;
}

.Assessment .accordion-body {
  background-color: transparent;
}
.Assessment li.audit {
  font-size: 14px;
  background-color: transparent;
  color: white;
  border-radius: 10px;
  margin: 1px 100px;
}
.Assessment li.audit:hover {
  background-color: #0d6efd;
  cursor: pointer;
}
.Assessment .accordion-button {
  display: inline;
  text-align: center;
  background-color: rgba(13, 110, 253, 0.2);
  color: white;
  border-radius: 50px;
  transition: all 200ms ease-in-out;

  font-size: 18px;
}
.accordion-button:focus {
  z-index: 3;
  border-color: white;
  outline: 0;
  box-shadow: 0 0 0 1px rgb(255 255 255 / 100%);
}
.Assessment .accordion-item:first-of-type .accordion-button {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
.Assessment .accordion-item:last-of-type .accordion-button {
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}
.accordion-button::after {
  background-image: none;
}
.accordion-button:not(.collapsed)::after {
  background-image: none;
}
.accordion-button:not(.collapsed) {
  background-color: rgba(255, 255, 255);
  color: #0d6efd;
}
