.Normes {
    background: rgba(0, 0, 0, 0.5);
    padding: 25px;
    width: 500px;
    margin: 0 auto;
    border-radius: 100px;
  
    text-align: center;
  }
  
  
  
  .Normes .iso{
    border-radius: 10px;
    padding: 8px 20px;
    font-size: 20px;
    margin-top: 30px;
    align-items: center;
  }
  