.Fonctions {
    background: rgba(0, 0, 0, 0.5);
    padding: 25px;
    width: 500px;
    margin: 0 auto;
    border-radius: 75px;

    text-align: center;
  }
  
  
  
  .Fonctions .G_user,
  .Fonctions .G_audit,
  .Fonctions .G_archive,
  .Fonctions .audit{
    border-radius: 10px;
    padding: 5px 15px;
    font-size: 20px;
    margin-top: 30px;
    width: 75%;
    background-color: white;
    color: rgb(12, 6, 90);
    border: 2px solid #040346;
  }
