.Options {
    background: rgba(0, 0, 0, 0.5);
    padding: 25px;
    width: 1000px;
    margin: 0 auto;
    border-radius: 75px;
  
    text-align: center;
  }
  
  
  
  
  .Options .ajout_a,
  .Options .supp_a,
  .Options .modif_a{
    border-radius: 10px;
    padding: 5px 15px;
    font-size: 20px;
    margin-top: 30px;
    width: 30%;
    background-color: white;
    color: rgb(12, 6, 90);
    border: 2px solid #040346;

  }