.Details {
  background: rgba(0, 0, 0, 0.5);
  padding: 25px;
  width: 500px;
  margin: 0 auto;
  border-radius: 100px;

  text-align: center;
}

.Details .title {
  color: white;
  font-weight: 300;
  line-height: 35px;
}
.Details .name,
.Details .website {
  padding: 8px 75px;
  border-radius: 10px;
  font-size: 16px;
  border: none;
  font-weight: 300;
  margin-bottom: 8px;
  margin-left: -16px;
}
.Details .actual-date {
  padding: 8px;
  border-radius: 10px;
  font-size: 16px;
  border: none;
  font-weight: 400;
  margin-bottom: 8px;
  color: gray;
}
.Details .submit-btn {
  border-radius: 10px;
  padding: 8px 20px;
  font-size: 18px;
  margin-top: 20px;
}
