.App {
  font-family: var(--bs-font-sans-serif);
  margin: 0 auto;
}
.App .company-logo {
  text-align: center;
  margin: 0 650px 20px 650px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 0 0 50px 50px;
}
.App .logo {
  padding: 0;
}
.App .title {
  line-height: 18px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
  padding: 0;
  font-weight: 100;
  margin-top: 5px;
}
.App img {
  width: 100px;
  border-radius: 50px 50px 5px 5px;
  display: block;
  margin: 0 auto;
  opacity: 0.8;
  padding: 0;
}
