.Options {
    background: rgba(0, 0, 0, 0.5);
   
    width: 100%;
   
    border-radius: 75px;
  
    text-align: center;
  }
  
  
  
  
  .Options .ajout,
  .Options .supp,
  .Options .modif{
    border-radius: 10px;
    
    font-size: 20px;
   
   
    width: 25%;
    background-color: white;
    color: rgb(12, 6, 90);
    border: 2px solid #040346;

  }